.carousel-indicators li {
    background-color: black;
}
.carousel-control-next-icon, 
.carousel-control-prev-icon {
    background-color: black;
}
.carousel-inner .carousel-item .carousel-caption h3{
    
    color: red;
}

@media (max-width:770px){
   .carousel-inner .carousel-item .carousel-caption h3{
        font-size: 20px;
        color: red;
    }
    .container-fluid h1{
        font-size: 30px;
    }
}
@media (max-width:430px){
    .container-fluid h1{
        font-size: 25px;
    }
    .carousel-inner .carousel-item .carousel-caption h3{
        display: block;
        
    }
    

}